<div class="container mt-3">
    <div class="rxjs pt-3">
        <h5><b>Rxjs Operators</b></h5>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <h5>SwitchMap</h5>
                <ul id="switch"></ul>
            </div>
            <div class="col-sm-4">
                <h5>MargeMap</h5>
                <ul id="merge"></ul>
            </div>
            <div class="col-sm-4">
                <h5>ConcatMap</h5>
                <ul id="concat"></ul>
            </div>
        </div>
    </div>
    <br>
    <div class="serach">
        <h5><b>Search Element</b></h5>
        <hr>
        <input class="form-control mr-sm-2 my-3" type="search" placeholder="Search from Data List"
            [(ngModel)]="searchText">
        <section>
            <div class="jsonData">
                <p *ngFor="let item of collection | filter: searchText | paginate:{itemsPerPage: 10, currentPage: p}">
                    {{item}}</p>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </section>
    </div>
    <br>
    <div class="select pt-3">
        <h5><b>BehaviorSubject</b></h5>
        <select class="form-control" id="language" #teams (change)="onSelected(teams.value)">
            <option selected disabled>Select</option>
            <option value="English">English</option>
            <option value="Español">Español</option>
            <option value="Português">Português</option>
        </select>
        <p>{{clickEmitted}}</p>
    </div>
</div>